* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --clr-violet: hsl(257, 40%, 49%);
    --clr-sfmagenta: hsl(300, 69%, 71%);
    --clr-white: hsl(0, 0%, 100%);
}
  
body {
    margin: 0;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    min-height: 100vh;
    background-color: var(--clr-violet);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
   
}  

h1,
h2, h3{
    line-height: 1.1;
    margin-bottom: 1em;
    font-weight: 400;
    color: var(--clr-white);
    font-size: 30px;
    font-family: 'Open Sans';
    
}
  
p{
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 1.5em;
}


img,
picture{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

a{
    cursor: pointer;
}

header{
    padding: 2em 0 ;
}
.logo-img{
    width: 150px;
}

.container{
    padding: 0 2em;
}

.mock-img{
    margin: 2em 0;
}

.content__body{
    text-align: center;
}

.content p{
    color: var(--clr-white);
}

button{
    display: block;
    border: none;
    border-radius: 50px;
    background-color: var(--clr-white);
    color: var(--clr-violet);
    padding: 1em 3em;
    margin-inline: auto;
    cursor: pointer;
}

button:hover{
    background-color: var(--clr-sfmagenta);
    color: var(--clr-white);
}

.social-list{
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 3em;
}

.social-list-item{
    border: 1px solid var(--clr-white);
    border-radius: 50%;
    padding: 0.5em
}

.footer-img{
    width: 30px;
    height: 30px;
}

@media (min-width: 565px){
    body{
        background-image: url(images/bg-desktop.svg);
        background-position: center;
    }

    .content{
        display: flex;
        gap: 0.5em;
    }
    .content__body{
        width: 40%;
        padding-top: 5em;
        text-align: left;
    }
    
    .container{
        max-width: 1300px;
        margin: 0 auto;
    }
    .content__img{
        width: 60%;
    }

    button{
        margin-inline: 0 auto;
    }

    .social-list{
        justify-content: right;
    }
}